<form method="POST" action="/puppy">
  <p><input type="text" name= placeholder="name"></p>
  <p><input type="text" name="breed"></p>
  <p><input type="text" name="age"></p>
  <input type="submit" value="New Puppy">
</form>